.main_fav {
  width: 90%;
  margin: 30px auto 70px;
  text-align: center;
  min-height: 100vh;
}
.main_fav h2 {
  text-align: center;
  margin-top: 8rem;
}


/* ==> ----------------- responsive ----------------- <== */
@media (max-width: 768px) {


  .products_section {
    grid-template-columns: 1fr; 
    gap: 15px;
  }

  .main_fav {
    width: 90%;
    margin: 20px .1rem 50px;
  }

  .main_fav h2 {
    margin-left: 2rem;
    margin-top: 7rem;
    font-size: 1.3rem;
  }

 
}
