.main_fav {
  width: 90%;
  margin: 30px auto 70px;
  text-align: center;
  min-height: 100vh;
}
.main_fav h2 {
  text-align: center;
  margin-top: 8rem;
}

/* ==> ----------------- responsive ----------------- <== */
@media (max-width: 768px) {
  /* Product grid responsive */
  .products_section {
    grid-template-columns: 1fr; /* one per row */
    gap: 15px;
  }

  .main_fav {
    width: 95%;
    margin: 20px auto 50px;
  }

  .main_fav h2 {
    margin-top: 4rem;
    font-size: 1.3rem;
  }

  /* Search bar full width on mobile */

  .main_fav h2 {
    margin-top: 5.5rem;
  }
}
